*{
	font-family: "Arial";
}

form {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

label input {
  flex: 1;
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #313f36;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;  /* Prevent scrollbars caused by stray error text */
  position: relative;
}

pre {
    padding: 10px;
    border-left: 4px solid #ccc;
    overflow-x: auto;
}
code {
    color: #3d1d1e;
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
}

#instalator{
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 80%;
  overflow: hidden;
}

#instalator_main {
  background: white;
  padding: 10px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#instalator_content{
  margin: auto;
  max-width: 70vw;
  max-height: 500px;
  overflow-y: auto;
}